#container2{
    width: 100%;
    position: relative;
}

h1 {
    background: burlywood;
    padding: 5px;
    text-align: center;
    text-shadow: red 2px 2px 5px;
    color: cornflowerblue;
    height: 80px;
    max-width: 500px;
    vertical-align: middle;
    border: 2px solid silver;
    border-radius: 20px;
    font-weight: bold;
    font-family: Arial, serif;
    font-size: 300%;
}

p {
    background: rgba(102, 204, 255, 0.7);
    border: 5px;
    border-left: solid red;
    padding: 10px;
    text-indent: 30px;
    /*max-width: 1300px;
    /*width: 600px;*/
    /*height: 18%;*/
    color: black;
    text-align: justify;
    font-style: italic;
    font-family: Calibri;
    line-height: 1.5;
    box-sizing: content-box;
    font-size: 2em;

}

div p {
    color: black;
    font-style: normal;
}

table {
    border-collapse: collapse;
    margin: auto;
    background: rgba(255,255,255,0.6);
    table-layout: auto;
    font-size: 1.3em;
    width: 100%;
    max-width: 700px;
    max-height: 500px;
    border-radius: 20px;
}

th {
    background-color: #1b6d85;
    border-radius: 20px 20px 0 0;
}

/*tr:hover {*/

/*    background-color: #f5f5f5;}*/

tr:nth-child(even){
    background-color: rgba(255,255,255,0.6);
}

td {
    text-align: center;
    vertical-align: middle;
    border: none ;
}

th {
    text-align: center;
    border: none ;
}

#tableResp {
    overflow-x: auto;
}



#link a{
    font-weight: bold;
}

div a:link {
    text-decoration: none;
    color: darkgray;
}

div a:visited {
    text-decoration: none;
    color: green;
}

div a:hover {
    text-decoration: underline;
    color: white;
}

div a:active {
    color: red;
}

body {
    color: black;
}

.fon {
    /*float: right;*/
    /*position: relative;*/
    /*background-image: url('img/hi-tech-corsair-technology-black.jpg');*/
    background-color: 	#E3E4D0;
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: scroll;
}

#contentPos {
    position: relative;
    margin: auto;
}

.form {
    /*display: none;*/
    position: relative;
    float: left;
    color: black;
    margin: 1.5%;
}

button{
    background: white;
    border: cornflowerblue;
    border-radius: 50px;
    box-shadow: gray 1px 3px;
    font-size: 15px;
}

button:hover{
    color: red;
    cursor: pointer;
}

button:active{
    box-shadow: none;
}

* {
    box-sizing: border-box;
}

.box {
    text-align: center;
    border: solid 2px rgba(1,1,1,0.2);
    background-color: rgba(102, 153, 255, 0.6);
    float: left;
    width: 33.3%;
    padding: 50px;
    margin-bottom: 50px;
}

.responsive{
    text-align: left;
    float: right;
    width: 50%;
}

div.boxForm form{
    background-color: white;
    box-shadow: gray 0px 5px 15px;
    padding: 20px;
    border-left: 3px solid red;
    border-radius: 10px;
    display: block;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 100%;
        margin-bottom: 20px;
    }
    p {
        font-size: 1.2em;
    }
}


.clearfix::after{
    content: "";
    clear: both;
    display: table;

}

/*div.sticky {*/
/*    position: -webkit-sticky;*/
/*    position: sticky;*/
/*    z-index: 1000;*/
/*    top: 0;*/
/*    background-color: darkolivegreen;*/
/*}*/

/*.nav {*/
/*    list-style-type: none;*/
/*    text-align: center;*/
/*    margin-bottom: 30px;*/
/*    padding: 0;*/
/*}*/

/*li {*/
/*    margin: 0;*/
/*}*/

/*li a{*/
/*    background-color: silver;*/
/*    padding: 10px;*/
/*    text-decoration: none;*/
/*}*/

/*.nav li{*/
/*    display: inline-block;*/
/*    font-size: 20px;*/
/*    padding-bottom: 20px;*/
/*    padding-top: 20px;*/
/*}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    text-align: center;
    padding: 10px;
    display: block;
    /*margin: 5px;*/
    width: 100%;
    background-color: #3c3c3c;
    border-bottom: 2px solid black;
}

li:last-child a{
    border-bottom: none;
}

.center{
    margin: auto;
}













